.corausel {
    margin-top: 140px !important;
    display: flex;
    overflow-x: scroll;
    gap: 30px;
    height: 400px;
    width: auto !important;
    margin-bottom: 50px !important;
    justify-content: flex-start;
}