.info-up {
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-between;

    .text-info-up {
        h2 {
            margin-top: 70px;
        }

    }

    .button-info {
        button {
            color: #DB4444;
            background: #fff;
            width: 223px;
            height: 56px;
            border: 1px solid #DB4444;
            border-radius: 4px;
            margin-top: 75px;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: #DB4444;
                color: white;
            }
        }
    }

}