.regestration {
    align-items: center;
    width: 1305px;
    height: 781px;
    display: flex;
    justify-content: space-between;
    margin: auto ;
    margin-top: 60px;
    margin-left: 0;
    margin-bottom: 160px;

    .picture-phone {
        position: static;
        width: 805px;
        height: 781px;
        border-radius: 0px 4px 4px 0px;
        background: rgb(203, 228, 232);

        img {
            width: 100%;
        }
    }

    .registration-form {
        width: 371px;
        height: 530px;
        justify-content: flex-start;

        h1 {
            font-size: 36px;
        }

        div {
            display: grid;
            gap: 40px;
            margin-top: 48px;

            input {
                width: 370px;
                height: 32px;
                border: none;
                border-bottom: 1px solid #000;
            }
            .password-show{
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 18px;
                position: relative;
                margin-top: -13px;

                input{
                    width: 100%;
                    padding: 10px 0;
                    border: none;
                    border-bottom: 1px solid #000;
                    transition: all 0.5s ease-in-out;
                    &:focus{
                        outline: none;
                        border-color: #000;
                    }
                }
                div{
                    position: absolute;
                    right: 0;
                    svg {
                        width: 24px;
                        height: 24px;
                        color: #DB4444;
                        cursor: pointer;
                    }   
                }
            }
        }

        div {
            align-items: center;
            text-align: center;

            button {
                border: none;
                height: 56px;
                border-radius: 4px;
                transition: all 0.5s ease-in-out;
            }
            .btn-black{
                &:hover{
                    background: #000 !important;
                    color: #fff;
                }
            }

            a {
                color: #DB4444;
                text-decoration: none;
                font-size: 16px;
                text-align: center;
                overflow: hidden;
                position: relative;
                padding: 7px 4px;
                margin-top: -8px;
                text-decoration: none;
                &::after{
                    content: "";
                    top: 37px;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background: #DB4444;
                    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
            }
        }

        span {
            text-align: center;
            font-size: 18px;
            text-align: center;
            width: 248px;
            margin: auto;
            margin-top: 34px;
            justify-content: space-around;
            a {
                overflow: hidden;
                position: relative;
                padding: 7px 4px;
                margin-top: -8px;
                text-decoration: none;
                color: #000000;

                &::after{
                    content: "";
                    top: 37px;
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    width: 0;
                    height: 3px;
                    background: #000;
                    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
                }
                &:hover::after{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}